# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift build artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Misc
.tmp_module_cache/
